.s-area {
	color: #585858;
	padding-top: 28rpx;
	padding-bottom: 28rpx;
	padding-left: 28rpx;
	padding-right: 28rpx;
	margin: 0 auto 0 auto;
}

.s-tap {
	color: #336699;
}

/*------------bar*/
.s-bar {
	background-color: #F5F5F5;
	color: #585858;
	padding-left: 28rpx;
	padding-right: 28rpx;
	padding-top: 12rpx;
	padding-bottom: 12rpx;
}

.s-bar-li {
	display: inline;
	padding-right: 12rpx;
}

.s-bar-li:after {
	content: ' >'
}

.s-bar-lis {
	display: inline;
	float: right;
}

/*------------list*/
.s-list {
	display: flex;
	flex-direction: column;
	margin-top: 28rpx;
}

.s-list-local {
	background-color: #F5F5F5;
}

.s-list .s-list-li {
	cursor: pointer;
	margin-bottom: 28rpx;
	border-style: solid;
	border-width: 1rpx;
	border-color: #D8D8D8;
	box-shadow: #D8D8D8 1rpx 2rpx 16rpx;
}

.s-list .s-list-li>div {
	display: flex;
	align-items: center;
}

.s-list .s-v-tit {
	padding-top: 22rpx;
	padding-left: 22rpx;
	padding-right: 22rpx;
	font-weight: bold;
	font-size: large;
}

.s-list .s-v-img {
	max-height: 288rpx;
	overflow: hidden;
}

.s-list .s-v-img-show {
	width: 100%;
}

.s-list .s-v-tag {
	padding-top: 12rpx;
	padding-left: 22rpx;
	padding-right: 22rpx;
	color: #D8D8D8;
}

.s-list .s-v-des {
	line-height: 150%;
	color: #888888;
	padding-top: 12rpx;
	padding-bottom: 22rpx;
	padding-left: 22rpx;
	padding-right: 22rpx;
}

.s-list .s-v-des>div {
	padding-top: 12rpx;
	padding-bottom: 12rpx;
	padding-left: 22rpx;
	padding-right: 22rpx;
}

/*------------list------------listmin*/
.s-list .s-listmin-li {
	display: flex;
	align-items: center;
}

.s-listmin-li .s-v-img {
	min-width: 202rpx;
	min-height: 202rpx;
	max-width: 202rpx;
	max-height: 202rpx;
	width: 202rpx;
	height: 202rpx;
	overflow: hidden;
}

.s-listmin-li .s-v-img-show {
	height: 100%;
	width: auto;
}

.s-listmin-li .s-v-tit {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.s-listmin-li .s-list-txt {
	flex-grow: 1;
	min-height: 202rpx;
	max-height: 202rpx;
	height: 202rpx;
	overflow: hidden;
}

.s-listmin-li .s-v-tag {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.s-listmin-li .s-v-des {
	width: auto;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/*------------list------------pic*/
.s-pic {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 28rpx;
}

.s-pic .s-list-li {
	width: 106rpx;
	cursor: pointer;
	margin-bottom: 28rpx;
}

.s-pic .s-list-li>div {
	display: flex;
	align-items: center;
}

.s-pic .s-v-img {
	width: 106rpx;
	height: 106rpx;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: larger;
}

.s-pic .s-v-img-show {
	max-width: 106rpx;
	max-height: 106rpx;
}

.s-pic .s-v-tit {
	padding-top: 12rpx;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: smaller;
}

/*------------list------------txt*/
.s-txt {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 28rpx;
}

.s-txt .s-list-li {
	font-size: small;
	width: 138rpx;
	line-height: 28rpx;
	height: 28rpx;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
	margin-bottom: 28rpx;
	text-align: center;
}

/*------------page*/
.s-page {
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.s-page-start,
.s-page-end,
.s-page-li,
.s-page-cur,
.s-page-input {
	background-color: #F5F5F5;
	color: #888888;
	border-color: #D8D8D8;
	border-width: 1rpx;
	border-style: solid;
	padding-top: 3rpx;
	padding-bottom: 3rpx;
	padding-left: 6rpx;
	padding-right: 6rpx;
	margin-top: 5rpx;
	margin-bottom: 5rpx;
	margin-left: 1rpx;
	margin-right: 1rpx;
}

.s-page-input {
	margin-left: auto;
	width: 68rpx;
	text-align: center;
	background-color: #FFFFFF;
}

.s-page-start {
	margin-right: 6rpx;
}

.s-page-start::after {
	content: '...';
}

.s-page-end {
	margin-left: 6rpx;
}

.s-page-end::before {
	content: '...';
}

.s-page-cur {
	background-color: #0066CC;
	color: #FFFFFF;
	border-color: #0066CC;
}

/*------------search*/
.s-search {
	display: flex;
	padding-bottom: 28rpx;
}

.s-search-picker {}

.s-search-input {
	flex-grow: 1;
	border-color: #D8D8D8;
	border-width: 0;
	border-bottom-width: 1rpx;
	border-style: solid;
	margin-left: 28rpx;
	margin-right: 28rpx;
}

.s-search-button {}

/*------------show*/
.s-show {
	color: #585858;
}

.s-show .s-v-tit {
	font-weight: bold;
	font-size: large;
	padding-top: 12rpx;
	padding-bottom: 12rpx;
}

.s-show .s-v-tag {
	color: #D8D8D8;
	padding-bottom: 12rpx;
}

.s-show .s-v-img {
	text-align: center;
}

.s-show .s-v-img-show {
	max-width: 100%;
}

.s-show .s-v-des {
	color: #666666;
}

.s-show .s-v-des>div {
	line-height: 180%;
}

.s-show .s-v-more {
	font-size: small;
	line-height: 180%;
	color: #9D9D9D;
	padding-top: 12rpx;
	padding-bottom: 22rpx;
	padding-left: 22rpx;
	padding-right: 22rpx;
}

.s-show .s-v-more>div {
	background-color: #F9F9F9;
	padding-top: 12rpx;
	padding-bottom: 12rpx;
	padding-left: 22rpx;
	padding-right: 22rpx;
}

/*------------user*/
.s-fast {
	margin-top: 28rpx;
	margin-bottom: 28rpx;
	display: flex;
	justify-content: space-between;
}

.s-fast-left {
	width: 280rpx;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.s-fast-right {
	width: 280rpx;
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.s-fast-input {
	text-align: left;
}

/*------------user*/
.s-user-top {
	display: flex;
	align-items: center;
	padding-top: 28rpx;
	padding-bottom: 28rpx;
	padding-left: 28rpx;
	padding-right: 28rpx;
	background-color: #F5F5F5;
}

.s-user-ic {
	width: 108rpx;
	height: 108rpx;
	padding-right: 28rpx;
}

.s-user-ic img {
	width: 108rpx;
	height: 108rpx;
	border-radius: 50%;
}

.s-user-tt {
	flex-grow: 1;
}

.s-user-to {
	color: #888888;
	font-size: small;
}

.s-user-lim,
.s-user-li {
	color: #666666;
	padding-top: 28rpx;
	padding-bottom: 28rpx;
	padding-left: 28rpx;
	padding-right: 28rpx;
	margin-left: 28rpx;
	margin-right: 28rpx;
	border-color: #D8D8D8;
	border-width: 0;
	border-bottom-width: 1rpx;
	border-style: solid;
}

.s-user-show .s-user-li {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.s-user-show .s-user-li::after {
	color: #D8D8D8;
	content: '>';
}

.s-user-edit .s-user-li,
.s-user-edit .s-user-lis {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.s-user-input {
	width: 200rpx;
}

.s-user-lis {
	color: #888888;
	font-size: small;
}

.s-user-button {
	text-align: center;
	padding-top: 28rpx;
}

.s-user-button .mini-btn {
	margin-left: 12rpx;
	margin-right: 12rpx;
}

.s-user-des {
	color: #D8D8D8;
	font-size: small;
	text-align: center;
	padding-top: 28rpx;
	padding-bottom: 28rpx;
}
