.s-area {
	color: #585858;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 18px;
	padding-right: 18px;
	background-color: #FFFFFF;
}

.s-index {}

.s-tap {
	color: #336699;
}

.s-nowrap,
.s-listmin-li .s-v-tit,
.s-listmin-li .s-v-des,
.s-pic .s-v-tit,
.s-txt .s-list-li,
.s-menu-li,
.s-fast-left,
.s-fast-right {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}


/*------------bar*/
.s-bar {
	background-color: #F5F5F5;
	color: #585858;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 18px;
}

.s-bar-li {
	display: inline;
	padding-right: 12rpx;
}

.s-bar-li:after {
	content: ' >'
}

.s-bar-lis {
	display: inline;
	float: right;
}

/*------------type*/
.s-type {
	color: #888888;
	font-size: smaller;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 18px;
	margin-bottom: 0px;
}

/*------------fast*/
.s-fast {
	margin-top: 28rpx;
	margin-bottom: 28rpx;
	display: flex;
	justify-content: space-between;
}

.s-fast-left {
	width: 280rpx;
	text-align: left;
}

.s-fast-right {
	width: 280rpx;
	text-align: right;
}

.s-fast-input {
	text-align: left;
}

.s-picker {
	border-color: #D8D8D8;
	border-width: 1px;
	border-style: solid;
	display: inline-block;
	color: #888888;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 6px;
	padding-bottom: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*------------search*/
.s-search {
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.s-search-off,
.s-search-on {
	position: absolute;
	top: -18px;
	left: -18px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	z-index: 888;
	font-size: small;
	color: #888888;
	background-color: #F8F8F8;
	border-color: #D8D8D8;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	opacity: 0.2;
}

.s-search-off:hover,
.s-search-on:hover {
	opacity: 0.8;
}

.s-search-show {
	display: flex;
	font-size: smaller;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 18px;
}

.s-search-picker *,
.s-search-input *,
.s-search-button * {
	font-size: small;
}

.s-search-picker {
	width: 66px;
	border-color: #D8D8D8;
	border-width: 1px;
	border-style: solid;
	color: #888888;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.s-search-input {
	flex-grow: 1;
	text-align: center;
	border-color: #D8D8D8;
	border-width: 0;
	border-bottom-width: 1px;
	border-style: solid;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 6px;
	padding-bottom: 0px;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.s-search-button {
	width: 66px;
}

.s-search-button button {
	width: 66px;
	background-color: #0066CC;
	color: #FFFFFF;
	border-radius: 8px;
}

/*------------list*/
.s-list {
	display: flex;
	flex-direction: column;
}

.s-list-local {
	background-color: #F5F5F5;
}

.s-list .s-list-li {
	cursor: pointer;
	margin-bottom: 28rpx;
	border-style: solid;
	border-width: 1rpx;
	border-color: #D8D8D8;
	box-shadow: #D8D8D8 1rpx 2rpx 16rpx;
}

.s-list .s-list-li:hover {
	box-shadow: #D8D8D8 6rpx 12rpx 16rpx;
}

.s-list .s-list-li>div {
	display: flex;
	align-items: center;
}

.s-list .s-v-tit {
	padding-top: 22rpx;
	padding-left: 22rpx;
	padding-right: 22rpx;
	font-weight: bold;
	font-size: large;
}

.s-pic .s-v-img {
	max-height: 288rpx;
	overflow: hidden;
}

.s-list .s-v-img-show,
.s-v-des img {
	max-width: 100%;
}

.s-list .s-v-tag {
	padding-top: 12rpx;
	padding-left: 22rpx;
	padding-right: 22rpx;
	color: #D8D8D8;
}

.s-list .s-v-des {
	line-height: 150%;
	color: #888888;
	padding-top: 12rpx;
	padding-bottom: 22rpx;
	padding-left: 22rpx;
	padding-right: 22rpx;
}

.s-list .s-v-des>div {
	padding-top: 12rpx;
	padding-bottom: 12rpx;
	padding-left: 22rpx;
	padding-right: 22rpx;
}

/*------------list------------listmin*/
.s-list .s-listmin-li {
	display: flex;
	align-items: flex-start;
}

.s-listmin-li .s-v-img {
	min-width: 202rpx;
	min-height: 202rpx;
	max-width: 202rpx;
	max-height: 202rpx;
	width: 202rpx;
	height: 202rpx;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F5F5F5;
}

.s-listmin-li .s-v-img-show {
	max-height: 90%;
	max-width: 90%;
}

.s-listmin-li .s-v-tit {}

.s-listmin-li .s-list-txt {
	flex-grow: 1;
	max-height: 202rpx;
	overflow: hidden;
}

.s-listmin-li .s-v-tag {
	font-size: small;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.s-listmin-li .s-v-des {
	width: auto;
}

/*------------list------------pic*/
.s-pic {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 28rpx;
}

.s-pic .s-list-li {
	width: 106rpx;
	cursor: pointer;
	margin-bottom: 28rpx;
}

.s-pic .s-list-li>div {
	display: flex;
	align-items: center;
}

.s-pic .s-v-img {
	width: 106rpx;
	height: 106rpx;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: larger;
}

.s-pic .s-v-img-show {
	max-height: 90%;
	max-width: 90%;
}

.s-pic .s-v-tit {
	padding-top: 12rpx;
	text-align: center;
	font-size: smaller;
}

/*------------list------------txt*/
.s-txt {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 28rpx;
}

.s-txt .s-list-li {
	font-size: small;
	width: 138rpx;
	line-height: 28rpx;
	height: 28rpx;
	cursor: pointer;
	margin-bottom: 28rpx;
	text-align: center;
}

/*------------page*/
.s-page {
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.s-page-start,
.s-page-end,
.s-page-li,
.s-page-cur,
.s-page-input {
	background-color: #F5F5F5;
	color: #888888;
	border-color: #D8D8D8;
	border-width: 1rpx;
	border-style: solid;
	padding-top: 3rpx;
	padding-bottom: 3rpx;
	padding-left: 6rpx;
	padding-right: 6rpx;
	margin-top: 5rpx;
	margin-bottom: 5rpx;
	margin-left: 1rpx;
	margin-right: 1rpx;
}

.s-page-input {
	margin-left: auto;
	width: 68rpx;
	text-align: center;
	background-color: #FFFFFF;
}

.s-page-start {
	margin-right: 6rpx;
}

.s-page-start::after {
	content: '...';
}

.s-page-end {
	margin-left: 6rpx;
}

.s-page-end::before {
	content: '...';
}

.s-page-cur {
	background-color: #0066CC;
	color: #FFFFFF;
	border-color: #0066CC;
}

/*------------show*/
.s-show {
	color: #585858;
}

.s-show .s-v-tit {
	font-weight: bold;
	font-size: large;
	padding-top: 12rpx;
	padding-bottom: 12rpx;
}

.s-show .s-v-tag {
	color: #D8D8D8;
	padding-bottom: 12rpx;
}

.s-show .s-v-img {
	text-align: center;
}

.s-show img {
	max-width: 100%;
}

.s-show .s-v-img-show {
	max-width: 100%;
}

.s-show .s-v-des {
	color: #666666;
}

.s-show .s-v-des>div {
	line-height: 180%;
}

.s-show .s-v-more {
	font-size: small;
	line-height: 180%;
	color: #9D9D9D;
	padding-top: 12rpx;
	padding-bottom: 22rpx;
	padding-left: 22rpx;
	padding-right: 22rpx;
}

.s-show .s-v-more>div {
	background-color: #F9F9F9;
	padding-top: 12rpx;
	padding-bottom: 12rpx;
	padding-left: 22rpx;
	padding-right: 22rpx;
}
